{% block layout %}
    {% block header %}
        {# @TODO : le changement du layout cocorico est une faute de temps. il faut par la suite le remettre dans un layout comemoov et faire tout les appels à celui ci #}
        {% include '@ComemoovCore/Frontend/Common/_header.html.twig' only %}
    {% endblock %}

    <!-- contain main informative part of the site -->
    <main id="main" role="main">
        <div class="container">
            <div class="row">
                {% block breadcrumbs %}{% endblock %}

                {% block search_form %}{% endblock %}

                {% block main %}{% endblock %}
            </div>
        </div>
        {#popin#}
        {% block modal %}{% endblock %}
    </main>

    {% block footer %}
        {% include '@CocoricoCore/Frontend/Common/_footer.html.twig' only %}
    {% endblock %}
{% endblock %}
